@charset "UTF-8";
#joinForm_wrap {
	width:760px; 
	margin: 10px auto; 
	padding:20px;
}

#join_title{
	width:760px;            	
	margin:30px auto;
	padding-bottom:20px;     	
	border-bottom:1px solid #7800f8;
	color: #000000;         
	font-size:2em;
	text-align:center;       
}

#joinForm_wrap table{
	margin:0 auto; 
	color: #343A40;
	border-collapse: collapse;
}

#joinForm_wrap table tr{
	height:40px;
}

#joinForm_wrap table th{
	width:160px;        	     
	border-bottom: 1px solid #F1F3F5;
	color: #343A40;     
	text-align:left;    	
	padding-left:10px;
}

#joinForm_wrap table td:not(#lasttd) {
	width: 360px; 
	border-bottom: 1px solid #F1F3F5;
}

#lasttd {
	text-align: center;
}

.ntitle, .thtime, .ntype, .ncontent {
	border: 1px solid #FFFFFF; 
	height: 32px;	
	width: 95%; 
	padding: 3px 3px 3px 20px; 
	margin: 10px 0;
	background-color: #F1F3F5;
}

select {
	width: 380px;
	height: 32px;
	padding: 3px 5px;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
	border-radius: 8px;
}

input[type=radio] {
	margin: 0 0 0 80px;
}

#thConfirmResult {
	text-align: center;
}

.joinBtn_style {
	color: #FFFFFF;       
	background: #7800f8;
	border:0;               
	outline: none;
	width:30%;          
	padding:5px 0;        
	cursor: pointer;				
	height:40px;
}

#lasttd input:nth-child(2) {
	color: #000000;
	background: #FFFFFF; 
	border: 1px solid #7800f8;
	margin: 30px 0 0 10px;  
}

input:focus {
    outline: 1px solid #7800f8;
}