@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap')
	;

* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

.eng{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

/* 1:1문의 게시판: Q. */
*:not(.qes, .eng) {
	font-family: 'Noto Sans KR', sans-serif;
}

/* wrap */
div#wrap {
	width: 1140px;
	min-height: 400px;
	margin: 50px auto;
	padding: 0;
	/* 컨테이너가 세로로 배치 */
	display: block;
	justify-content: center;
	flex-direction: column;
}

/* 배치 */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* hr */
hr {
	border: 1px solid #efefef;
}

/* button */
/* 메인에 사용*/
.btn_white {
	font-weight: bold;
	width: auto;
	background: #ffffff;
	padding: 10px 25px;
	margin: 0 auto;
	color: #7800f8;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

.btn_white:hover {
	background-color: #7800f8;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	color: #ffffff;
}

.btn_purple {
	font-weight: bold;
	width: auto;
	background: #8000ff;
	padding: 10px 20px;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

/* 게시판에 사용 */
.btn_grey {
	font-weight: bold;
	width: auto;
	background: #fafafa;
	padding: 6px 14px;
	margin: 0 auto;
	color: #686868;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #686868;
	border-radius: 6px;
	cursor: pointer;
}

.btn_submit {
	font-weight: bold;
	width: auto;
	background: #ffffff;
	padding: 10px 20px;
	margin: 0 auto;
	color: #686868;
	text-align: center;
	text-decoration: none;
	border: 1px solid #8000ff;
	border-radius: 6px;
	cursor: pointer;
}

.btn_submit:hover {
	background: #8000ff;
	color: #ffffff;
}

/* b Tag */
.purple {
	color: #9729ff;
}

.red {
	color: red;
}

.grey {
	color: #a0a0a0;
}