@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap')
	;

* {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

/* wrap */
div#wrap {
	width: 1140px;
	min-height: 600px;
	margin: 0 auto;
	padding: 0;
	/* 컨테이너가 세로로 배치 */
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* 배치 */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* hr */
hr {
	border: 1px solid #efefef;
}

/* button */
.btn_white {
	font-weight: bold;
	width: auto;
	background: #ffffff;
	padding: 10px 20px;
	margin: 0 auto;
	color: #7800f8;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

.btn_purple {
	font-weight: bold;
	width: auto;
	background: #8000ff;
	padding: 10px 20px;
	margin: 0 auto;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}