@charset "UTF-8";

/* 이미지 */
#theaterList_background {
	width: 100%;
	height: 230px;
	padding-top: 76px;
	box-sizing: border-box;
	text-align: center;
}

/* 검색 */
.search_box>form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search_box select {
	width: 110px;
	height: 42px;
	padding: 8px 12px;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
	border-radius: 8px;
}

.search_box .search {
	height: 42px;
	padding: 8px 12px;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
	border-radius: 8px;
	margin-left: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search_box .search>input {
	border: 0px;
	outline: none;
}

.search_box .search>button {
	border: 0px;
	outline: none;
	background: #ffffff;
	padding-top: 5px;
	cursor: pointer;
}

/* ---------- 테이블 ---------- */
/* 공지사항 등 리스트 테이블 */
.list_table {
	width: 100%;
	margin: 10px auto;
	border-collapse: collapse;
}

.list_table tr {
	text-align: center;
}

.list_table th,
.content_table th {
	font-size: 16px;
	background-color: #fafafa;
	border-top: 1px solid #282828;
	color: #686868;
	padding: 16px;
}

.list_table td{
	font-size: 16px;
	color: #686868;
	border-bottom: 1px solid #bfbfbf;
	padding: 12px;
}

.list_table .thTitle {
	font-size: 24px;
	color: black;
}

.list_table tr td.title:hover{
	text-decoration: underline;
}

.list_table ul li {
	margin: 20px 0 20px 0;
}

.list_table .greenbox {
	padding: 5px;
	color: green;
	border: 1px solid green;
}

.list_table button {
	width: 160px;
	height: 40px;
	background-color: white;
	border: 1px solid purple;
	margin-top: 20px;
	cursor: pointer;
}

.list_table button:active {
	width: 160px;
	height: 40px;
	background-color: purple;
	color: white;
	border: 1px solid #d7b6ff;
	margin-top: 20px;
	cursor: pointer;
}

.theaterimg {
	object-fit: cover;
	width: 300px;
	height: 190px;
}

/* 상세보기 테이블 */
.content_table{
	width: 100%;
	margin: 10px auto;
	border-collapse: collapse;
}

.content_table td {
	font-size: 16px;
	color: #686868;
	border-bottom: 1px solid #bfbfbf;
	padding: 12px;
	text-align: center;
}

.content_table td.content {
	font-size: 16px;
	border-bottom: 1px solid #bfbfbf;
	padding: 40px 60px;
	text-align: left;
}

.content_table td > input {
	height: 32px;
	padding: 6px 12px;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #686868;
}

.content_table td > input:focus {
	border: 0;
	outline: 1px solid #7800f8;
}

/* 수정 및 삭제 버튼 공간 */
.content_table td.btnBox {
	border: 0px;
}

/* 질문 표시: Q. */
.content_table .qes{
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	font-weight: bold;
	color: #8000ff;
	padding-right: 5px;
}

.notice_box{
	width: 860px;
	margin: 20px auto;
	padding: 20px 40px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #9729ff;
	color: #ffffff;
}

/* 공통 */
.title {
	width: 40%;
	color: #353535;
}

/* 페이징 */
#paging {
	text-align: center;
}

#paging>span {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 22px;
	background: #8000ff;
	color: #ffffff;
	border-radius: 22px;
}

#paging>a {
	display: inline-block;
	width: 40px;
	color: #686868;
}