@charset "UTF-8";
.content {text-align: center;}
.rideInfo {
	height: 600px;
	margin: 0 auto;
}

.cardArea {
	overflow: hidden;
}
.cardArea .card {
	float: left;
	width: 50%;
}
.subTit {
	overflow:hidden;
	font-size: 35px;
	font-weight: bold;
}
#map {
	margin: 30px 0 50px 0;
}
.restArea p {
	float:left;
	width: 25%;
}
.restArea p img {
	width:100px;
	border-radius: 100px;
}