@charset "UTF-8";
.content {
	text-align: center;
	margin: 0 auto;
	}
.rideInfo {
	height: 600px;
	margin: 0 auto;
}

.cardArea {
	overflow: hidden;
}
.cardArea .card {
	float: left;
}
.subTit {
	overflow:hidden;
	font-size: 35px;
	font-weight: bold;
}
#map {
	margin: 30px 0 50px 0;
	width:1600px; height:350px; 
}
.restArea p {
	float:left;
	width: 25%;
}
.restArea p img {
	width:100px;
	height:100px;
	border-radius: 100px;
}
.card {background-color: white;
 height: 300px;
 width: 150px;
 margin: 30px;
}
